body{
    background-color: lightblue;
    margin: 0;
    padding: 0;
}

/* header */
#header {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(3, 3, 70);
    font-size: larger;
    border-bottom: 12px solid grey;
    padding: 15px;
    display: inline-flexbox;
    background-image: url("background2.jpg");
}


/* main columns */
.container {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    overflow: hidden;
}

.content.container {
    align-items: center;
    justify-content: center;
}

.menu{
    order: 1;
    flex: 1;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20;
    border-right: 12px solid grey;
    font-size: 20px;
}

.content{
    flex: 4;
    order: 2;
    text-align: center;
}

.right-col {
    order: 3;
    flex: 1;
    height: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20;
    border-left: 12px solid grey;
    font-size: 20px;
}



/* items */
 #cards{
    display: flex;
    align-self:center;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    max-width: 300px;
    max-height: auto;
    margin: 1vw;
    background-color: white;
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 black;
}

.card:hover
{
    transform:scale(1.1) ;
    box-shadow: 0 8px 16px 0 black;
}

.card button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color:white;
    background-color: black;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 2vw;
}

.card button:hover, .card a:hover
{
    opacity: 0.7;
}

.card img
{
    width: 220px;
    height: 220px;
    object-fit: cover;
}
